<div class="container">
  <div class="header">
    <img src="assets/index/header.png" style="width:100%">
  </div>
  <div style="display:flex;flex-direction:row;width: 100%;height:100%;margin-top: 18px">
    <div class="left">
      <div style="display:flex;flex-direction:column;">
        <div class="left-top">
          <div class="leftTitle">
            <img src="assets/index/title.png" style=" margin: 45px 10px 10px 15px;">
            <span>某某贵族学校</span>
          </div>
          <div class="echartTotal" id="echartTotal"></div>
        </div>
        <div class="left-bottom">
          <div class="leftTitle">
            <img src="assets/index/title.png" style=" margin: 45px 10px 10px 15px;">
            <span>正在放学班级</span>
          </div>
        </div>
      </div>
    </div>
    <div style="display: flex;flex-direction: column;width: 100%;height: 100%;margin-left: 50px;">
      <div style="display: flex;flex-direction: row;width: 100%;height: 17%;">
        <div class="right-top">
          <div class="topTitle">
            <img src="assets/index/numbers.png" style=" margin:20px 10px 10px 94px;">
            <span>今日进出人数</span>
          </div>
        </div>
        <div class="right-top">
        </div>
      </div>
      <div class="rignt-content">

      </div>
    </div>


  </div>


</div>
